.nav-link{
    font-size: 24px;
}
.nav-item{
    padding-right:20px;
    padding-left: 20px;
    padding-top: 10px;
}
.service{
    border: none;
}
.card-body a{
    color: black;
    text-decoration: none;
}
.swiper {
    max-width: 100% !important;
}
.swiper img {
    max-width: 100% !important;
}
@media (min-width: 320px) and (max-width: 640px) {
    .card-img {
        height: 130px !important;
        width: auto;
    }
    .swiper-slide {
        max-height: 80px;
    }
}
@media (min-width: 640px) and (max-width: 1000px) {
    .card-img {
        height: 180px;
        width: auto;
    }
    .swiper-slide {
        max-height: 180px;
    }
}
@media (min-width: 1000px) and (max-width: 1200px) {
    .card-img {
        height: 180px;
        width: auto;
    }
    .swiper-slide {
        max-height: 200px;
    }
}
@media (min-width: 1200px) and (max-width: 1400px) {
    .card-img {
        height: 200px;
        width: auto;
    }
    .swiper-slide {
        max-height: 250px;
    }
}
@media (min-width: 1400px) {
    .card-img {
        height: 220px !important;
        width: auto;
    }
    .swiper-slide {
        max-height: 250px;
    }
}

.card-img {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.card-text{
    overflow-wrap: normal;
    /* не поддерживает IE, Firefox; является копией word-wrap */
    word-wrap: normal;
    word-break: normal;
    /* не поддерживает Opera12.14, значение keep-all не поддерживается IE, Chrome */
    line-break: auto;
    /* нет поддержки для русского языка */
    hyphens: manual;
    /* значение auto не поддерживается Chrome */
    min-height: 48px;
}


body{
    font-family: 'Century Gothic', sans-serif;
}
.navbar, body, .card, .navbar-light .navbar-nav .nav-link, .card-text {
    background: black !important;
    color: white !important;
}
.swiper{
    background: black !important;
}

.text-field__label {
    display: block;
    margin-bottom: 0.25rem;
}

.text-field__input {
    display: block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #bdbdbd;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.text-field__input::placeholder {
    color: #212529;
    opacity: 0.4;
}

.text-field__input:focus {
    color: #212529;
    background-color: #fff;
    border-color: #bdbdbd;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(158, 158, 158, 0.25);
}

.text-field__input:disabled,
.text-field__input[readonly] {
    background-color: #f5f5f5;
    opacity: 1;
}

/* inactive icon - вариант 1 */
.text-field__icon {
    position: relative;
}

.text-field__icon::before {
    content: '';
    color: #bdbdbd;
    position: absolute;
    display: flex;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0.625rem;
    top: 50%;
    transform: translateY(-50%);
}

.text-field__icon input {
    padding-left: 2rem;
}

.text-field__icon_email::before {
    content: '@';
}

.text-field__icon_search::before {
    width: 1.5rem;
    background-image: url('/images/search_icon.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-bottom: 10px;
    /* Added */
}
html {
    background: black !important;
}
body{
    background:black !important;
}
.nav-link{
    color: white !important;
}
.navbar-collapse{
    flex-grow: 0 !important;
}
.navbar-brand{
    margin-left: 3%;
}
.navbar-collapse{
    margin-right:10%
}
.custom-tab-link{
    font-size: 15px !important;
    white-space: nowrap !important;
}

.custom-tab-link.nav-link.active {
    color: #495057;
    background-color: black;
    border-color: #dee2e6 #dee2e6 #fff;
}
.nav-tabs{
    border-bottom: none !important;
}
.custom-tab-link.nav-link.active {
    border: none !important;
    text-shadow:
            0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #0fa,
            0 0 82px #0fa,
            0 0 92px #0fa,
            0 0 102px #0fa,
            0 0 151px #0fa;
}
.custom-tab-link.nav-link:hover {
    border: none !important;
}
.nav-tabs li {
    border-bottom: 2px solid white;
}
.nav-tabs .nav-item{
    width: 100%;
    min-width: 244px;
}
.nav-tabs .nav-link{
    border: none !important;
    margin-bottom: 0px !important;
}
.nav-tabs{
    margin-left: 15px;
}
html,
body {
    max-width: 100%;
    overflow-x: hidden;
}
.color-white{
    background: #fff !important;
    border: 5px solid white;
    color: black;
}
.color-black{
    background: black !important;
    color: white;
}
.color-orange{
    color: #f2901f !important;
    text-align: left !important;
    font-weight: bolder !important;
    font-family: sans-serif !important;
}
.bold-table{
    font-family: sans-serif !important;
    font-weight: 900 !important;
    font-stretch: 89%;
    text-align: left !important;
}
.table-left{
    text-align: left !important;
}
.card-img{
    margin-bottom: 15px;
    object-fit: fill !important;
    z-index: 99999999999999999999999999999999999999999999999999999999999999 !important;
}